/* GLOBAL STYLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--global-font);
    line-height: 1.4;
    color: var(--white);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--white);
}

.btn {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 5px;
}

/* GLOBAL VARIABLES */
:root {
    /* Colors */
    --dark-grey: #252524;
    --light-grey: #545555;
    --white: #ffffff;
    /* Font */
    --global-font: 'Poppins', sans-serif;
    /* Font sizes */
    --title: 5.2rem;
    --subtitle: 4rem;
    --paragraph: 3.6rem;
    --paragraph-two: 2.4rem;
    --anchor: 2.4rem;
    --btn: 1.8rem;
}

/* NAVBAR STYLES */
.nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    background: var(--dark-grey);
    box-shadow: 0 2px rgba(0, 0, 0, 0.4);
    z-index: 10;
}

.nav-list {
    display: flex;
    margin-right: 2rem;
}

.nav-list a {
    display: block;
    font-size: var(--anchor);
    padding: 2rem;
}

/* WELCOME SECTION */
.welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: var(--light-grey);
}

.welcome-section > h1 {
    font-size: 5.2rem;
}

.welcome-section > p {
    font-size: var(--paragraph);
    font-weight: 200;
    font-style: italic;
    color: var(--dark-grey);
}

/* PROJECTS SECTION */
.projects-section {
    text-align: center;
    padding: 10rem 2rem;
    background: var(--dark-grey);
}

.projects-section-header {
    margin: 0 auto 6rem auto;
    max-width: 640px;
    font-size: var(--subtitle);
    border-bottom: 0.2rem solid white;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto 6rem auto;
}

.project {
    background: var(--light-grey);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.project-image {
    height: calc(100% - 6.8rem);
    width: 100%;
    object-fit: cover;
}

.project-title {
    font-size: var(--paragraph-two);
    padding: 2rem 0.5rem;
}

.btn-show-all {
    font-size: var(--btn);
    background: var(--light-grey);
    transition: background 0.3s ease-out;
}

/* CONTACT SECTION STYLES */
.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 80vh;
    padding: 0 2rem;
    background: var(--light-grey);
}

.contact-section-header > h2 {
    font-size: var(--subtitle);
}

.contact-section-header > p {
    font-style: italic;
    font-size: var(--paragraph-two);
}

.contact-links {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin-top: 8rem;
    flex-wrap: wrap;
}

.contact-details {
    font-size: 2rem;
    text-shadow: 2px 2px 1px #1f1f1f;
    transition: transform 0.3s ease-out;
}

/* FOOTER SECTION STYLES */
.footer-section {
    font-weight: 100;
    display: flex;
    justify-content: space-evenly;
    background-color: var(--dark-grey);
    border-top: 4px solid black;
    padding: 2rem;
}

footer > p {
    margin: 0.5rem;
    font-size: var(--paragraph-two);
}

/* QUERIES */
@media (max-width: 61.25em) {
    html {
        font-size: 58%;
    }
}

@media (max-width: 75em) {
    html {
        font-size: 60%;
    }
}

@media (max-width: 28.75em) {
    html {
        font-size: 55%;
    }
    .nav {
        justify-content: center;
    }
    .nav-list {
        margin: 0 1rem;
    }
    .welcome-section {
        text-align: center;
    }
    .projects-section-header {
        font-size: 3rem;
    }
    .contact-section-header > h2 {
        font-size: 3rem;
    }
    footer {
        flex-direction: column;
        text-align: center;
    }
}

@media (max-width: 30.625em) {
    .projects-section {
        padding: 6rem 1rem;
    }
    .projects-grid {
        grid-template-columns: 1fr;
    }
}
